body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background: rgb(66, 66, 110);
    padding-top: 2em;
    padding-bottom: 2em;
}

figure {
    margin: 0;
    display: inline-block;
}

header section {
    display: inline-block;
    margin-left: 20%;
}

input {
    border-radius: 6px;
}

h1 {
    margin: 0;
}

header figure h1 {
    color: white;
}
